<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 col-md-4">
            <form method="post" action="/contacts">
                <div class="mb-3">
                    <label for="name" class="form-label">name</label>
                    <input type="text" class="form-control" id="name">
                  </div>
              
                <div class="mb-3">
                  <label for="noHp" class="form-label">handphone</label>
                  <input type="text" class="form-control" id="noHp">
                </div>

                <!-- <div class="mb-3">
                    <label for="email" class="form-label">Email </label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div> -->
            
                <button type="submit" class="btn btn-warning">Submit</button>
              </form>
        </div>
    </div>
</div>